{{template "top" .}}
<tr>
  <td class="text-center p-3 bg-zinc-700 font-medium rounded-bl-lg">{{ .Name }}</td>
  <td class="text-center p-3 bg-zinc-700">{{ .Goal1.FatPercentage }}</td>
  <td class="text-center p-3 bg-zinc-700">{{ .Goal1.LeanMass }}</td>
  <td class="text-center p-3 bg-zinc-700">{{ .Goal2.VisceralFat }}</td>
  <td class="text-center p-3 bg-zinc-700">{{ .Goal2.FatPercentage }}</td>
  <td class="text-center p-3 bg-zinc-700 rounded-br-lg">{{ .Goal2.LeanMass }}</td>
</tr>{{template "bottom" .}}
