# flyctl launch added from .gitignore
**/**/node_modules

# flyctl launch added from frontend/node_modules/.pnpm/tailwindcss@3.3.3/node_modules/tailwindcss/stubs/.gitignore
!frontend/node_modules/.pnpm/tailwindcss@3.3.3/node_modules/tailwindcss/stubs/**/*
fly.toml
