{{ define "index" }}

<!doctype html>
<html lang="en">
  <head>
    <title>Metas Fitcon</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/css/output.css" rel="stylesheet" />
    <script src="/assets/js/htmx.min.js"></script>
  </head>
  <body>
    <h3>Metas Fitcon</h3>
    <form method="GET" hx-get="/users" hx-swap="outerHTML">
      <input id="matricula" name="matricula" type="text" hx-get="/users" />
      <button type="submit" gx-get="/users">Submit</button>
    </form>
  </body>
</html>

{{ end }}
