package components

import "fmt"

templ UserNotFound(id string) {
	@InfoPage("Usuário Não Encontrado", fmt.Sprintf("Não conseguimos encontrar um usuário com matrícula %s. Por favor tente de novo.", id))
}

